@font-face {
	font-family: raleway;
	font-weight: 300;
	src: url('/font/raleway-light.ttf');
}
@font-face {
	font-family: raleway;
	font-weight: 400;
	src: url('/font/raleway-regular.ttf');
}
@font-face {
	font-family: raleway;
	font-weight: 500;
	src: url('/font/raleway-medium.ttf');
}
@font-face {
	font-family: roboto-mono;
	font-weight: 300;
	src: url('/font/roboto-mono-light.ttf');
}
@font-face {
	font-family: roboto-mono;
	font-weight: 500;
	src: url('/font/roboto-mono-medium.ttf');
}
@font-face {
	font-family: roboto-slab;
	font-weight: 300;
	src: url('/font/roboto-slab-light.ttf');
}
@font-face {
	font-family: roboto-slab;
	font-weight: 500;
	src: url('/font/roboto-slab-medium.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #e9a7e3;
}

.box {
	top: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.box-base {
	z-index: 3;
	background-color: #e9a7e3;
}
.box-focus {
	z-index: 6;
}
.box-navi {
	z-index: 9;
}
.box-content {
	z-index: 10;
	pointer-events: none;
}

.box-size {
	width: 100%;
	height: 100vh;
	min-height: 512px;
}

.base-back {
	/* overflow: hidden; */
	background-color: #e9a7e3;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: url('/bg-base.webp');
}
.focus-back {
	/* overflow: hidden; */
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: url('/bg-focus.webp');
}

.navi {
	width: 25vw;
	height: 14vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navi-lt {
	top: 0;
	left: 0;
	position: absolute;
}
.navi-rt {
	top: 0;
	right: 0;
	position: absolute;
}
.navi-lb {
	left: 0;
	bottom: 0;
	position: absolute;
}
.navi-rb {
	right: 0;
	bottom: 0;
	position: absolute;
}

.navi-link {
	font-size: 2.25rem;
	line-height: 2.5rem;
	transition: all 0.1s ease-in-out;
}
.navi-link:hover {
	font-size: 2rem;
	line-height: 2.5rem;
}

@media all and (orientation: portrait) {
	.base-back {
		background-size: 200vw;
	}
	.focus-back {
		background-size: 125vw;
	}
}
@media all and (orientation: landscape) {
	.base-back {
		background-size: 220vh;
	}
	.focus-back {
		background-size: 125vh;
	}
}

@media only screen and (max-width: 768px) {
	.navi {
		width: 35vw;
		height: 12vh;
	}
}
